/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: pop;
    -webkit-animation-duration: 0.4s;
    animation-name: pop;
    animation-duration: 0.4s;
    max-width: 500px;
}

/* Add Animation */
@keyframes pop {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(.45);
    }

    50% {
        transform: scale(.75);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pop {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(.45);
    }

    50% {
        transform: scale(.75);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #ff9800;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 50px 15px;
    text-align: center;

    h4 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        font-family: $font_nunito;
    }

    p {
        font-size: 14px;
        line-height: 1.3;
        color: #777;
    }

    .actions_groups {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 25px;

        a {
            display: inline-block;
            width: 48%;
            padding: 12px;
            text-align: center;
            font-family: inherit;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
            background-color: #ffc107;
            transition: 0.4s;
            color: #000;

            &:hover {
                opacity: 0.8;
            }


        }

        @media screen and (max-width:500px) {
            flex-direction: column;

            a {
                width: 100%;
                margin-bottom: 10px;
            }

        }
    }
}