// All variables

/* Fonts */
$font_montserrat : 'Montserrat',
sans-serif;
$font_nunito : 'Nunito',
sans-serif;
$font_fonta : 'Fontastique';


//Devices Sizes
$mobile: "800px";
$small-mobile: "400px";